pytest < 10.0.0
pytest-cov < 8.0.0
pytest-asyncio < 2.0.0
black < 27.0.0
pylint < 5.0.0
mypy < 2.0.0
sphinx < 10.0.0
sphinx_rtd_theme < 4.0.0
sphinx-toolbox < 5.0.0
myst_parser < 6.0.0
opentelemetry-api < 2.0.0
opentelemetry-sdk < 2.0.0
