name: Validate

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dev_requirements.txt
        pip install .
    - name: Analysing the code/samples with pylint
      run: |
        pylint featuremanagement samples
        pylint --disable=missing-function-docstring,missing-class-docstring tests
    - uses: psf/black@stable
    - name: Test with pytest
      run: |
        pytest tests --doctest-modules --cov-report=xml --cov-report=html
